<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067447046986-nid79ihrkpmd6pkget8pvv8sekst6qrj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067447046986-nid79ihrkpmd6pkget8pvv8sekst6qrj</string>
	<key>API_KEY</key>
	<string>AIzaSyC80vGMoT5dlkwyyeUSIJwHuDnfFLZT0QA</string>
	<key>GCM_SENDER_ID</key>
	<string>1067447046986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>zamalek-chat-9ecc3</string>
	<key>STORAGE_BUCKET</key>
	<string>zamalek-chat-9ecc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067447046986:ios:462c4bcaa2c04ffcb867b3</string>
</dict>
</plist>